<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" type="text/css" href="/formstyle.css">
</head>
<body>
    <div>
        <h2>Write new Chat</h2>
        <form action="/chat" method="post">
            <input type="text" placeholder="Sender Name" name="sender"> <br><br>
            <textarea name="msg" id=""></textarea> <br><br>
            <input type="text" placeholder="Reciver Name" name="reciver"> <br><br>
            <div id="button">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </div>
    </div>
    </form>
</body>
</html>