body{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.chat{
    min-width: 200px;
    max-width: 40rem;
    border: 2px groove gray;
    margin: 1rem 0;
    background-color: #afff10;
    border-radius: 10px;
    padding: 0 1rem 0.5rem;
}

.chat div{
    min-width: 200px;
    max-height: 40rem;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px 0;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

#detail{
    border: none;
}

.span2{    
    margin: 0 0 0 auto;
}